{
  "presets": [
    "@nrwl/js/babel"
  ],
  "plugins": [
    [
      "../../dist/packages/babel-frp-dom-plugin",
      {
        "moduleName": "@frp-dom/runtime",
        "extensions": [
          "For"
        ]
      }
    ]
  ]
}
